/*Conteudo principal*/

.website-main-content {
    width: 100%;
    height: 41.6em;

}

.main-sizer {
    display: flex;
    width: 100%;
    height: inherit;

}

.main-left-flex,
.main-sizer-neon-text {
    display: flex;
    flex-flow: column;
    gap: 20px;
    background-color: rgb(27, 25, 25);
    color: white !important;
    padding: 50px 30px;
    line-height: 1.3;
    letter-spacing: 4px;
}

/*Main-left-flex*/
.main-left-flex {
    width: 40%;
}

.main-left-flex h1 {
    text-shadow: 0 0 5px #50c3c4, 0 0 10px rgb(18 122 161), 0 0 12px rgb(100 89 89);

}

/**/

/*main-sizer-neon-text*/
.main-sizer-neon-text {
    width: 30%;
    justify-content: space-around;
    align-items: center;
    font-size: 48px;

}

.neon-right .Neon-Monoton {
    transform: rotate(-45deg);
}

.Neon-Monoton {
    color: #53d5e4;
    --color1: #b0c3c4;
    --color2: #3aeed1;
    --color3: #35e2ce;
    --color4: #43a199;
    font-family: Monoton-Regular;
    --interval: 1s;
    display: block;
    text-shadow: 0 0 10px var(--color1), 0 0 20px var(--color2), 0 0 40px var(--color3), 0 0 80px var(--color4);
    will-change: filter, color;
    filter: saturate(60%);
    animation: flicker steps(100) var(--interval) 1s infinite;
    transform: rotate(45deg);
}

@keyframes flicker {
    50% {
        color: white;
        filter: saturate(200%) hue-rotate(20deg);
    }
}

/**/

/*Rainbow icons row*/
.division-advices {
    width: 100%;
    height: auto;
    background-color: rgb(239, 239, 239);
    display: flex;
    color: black;
}

.division-advices-pad {
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.division-advices-column {
    width: 33%;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.division-advices-column h3 {
    padding-top: 15px;
}

.division-advices-column .icn {
    border-radius: 20px;
    color: #47f4f9;
    text-shadow: 0px 0px 20px #47f4f9,
        0px 0px 40px #47f4f9;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }

    to {
        filter: hue-rotate(360deg);
    }
}

#animation-1 {
    animation-delay: 0.3s;
}

#animation-2 {
    animation-delay: 0.6s;
}

#animation-3 {
    animation-delay: 0.9s;
}

/**/

/*Descobre*/

.discover-container {
    width: 100%;
    height: auto;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(-45deg, #1a1a1a 0%, #121212 25%, #1c1c1c 51%, #5f5e5e 100%);
    animation: AnimateBG 6s ease infinite;

}

@-webkit-keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes AnimateBG {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.discover-container-row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
}
.discover-container-row a {
    color: #47f4f9;
    box-shadow: 2px 2px 2px 2px #35e2ce,
                4px 4px 4px 4px #47f4f9;
}

/**/

/*QR code*/

.QRcode-container {
    width: 100%;
    height: auto;
    font-size: 20px;
    display: flex;
    background-color: white;
    padding: 2% 5%;
}

.QRcode-container-left-column {
    width: 70%;
}

.QRcode-container-right-column {
    width: 30%;
}

/**/
/*butões*/

.neon-btn {
    position: relative;
    background: rgb(33, 33, 33);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 3px;
    font-weight: 400;
    display: flex;
    width: 195px;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    transition: 0.8s;
}

.neon-btn:hover {

    box-shadow: 0 0 20px var(--clr);
}

/**/



/*Media queries*/

/*Laptop pequeno*/
@media screen and (max-width: 1024px) {

    /*QR code*/

    .QRcode-container-left-column {
        width: 60%;
    }

    .QRcode-container-right-column {
        width: 40%;
    }

    /**/
}

/*Tablet*/
@media screen and (max-width: 768px) {

    .main-sizer {
        flex-direction: column;

    }

    .website-main-content {
        height: auto;
    }

    .main-left-flex {
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px 9% 40px 9%;
        width: 100%;
    }

    .main-sizer-neon-text {
        display: none;

    }

    .division-advices-pad {
        flex-direction: column;
    }

    .division-advices-column {
        width: 60%;
    }

    /*QR code*/

    .QRcode-container {

        flex-direction: column;
        padding: 3% 0%;
    }

    .QRcode-container-left-column,
    .QRcode-container-right-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    /**/
}

/*Mobile L*/
@media screen and (max-width: 425px) {

    /*Main*/
    .main-left-flex h1 {
        font-size: 28px;
    }
}

/**/