
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    text-decoration: none;
}
.background {
    width: 100%;
    height: 100%;
    background-color:rgb(27, 25, 25);
}
.neon-navbar {
    width: 100%;
    min-height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    flex: auto;
    border-bottom: 2px solid transparent;
    transition: cubic-bezier(0, 0.41, 0.84, 1.11) 0.9s;
    
}
.neon-navbar:hover {
    opacity: 0.9;
}

.neon-navbar ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
.neon-navbar ul li a{
    letter-spacing: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px #73c9ff, 0 0 10px #ffffff, 0 0 20px #fff, 0 0 40px rgb(71 163 239), 0 0 80px rgb(65 174 194);
}

/**/

.website-main-content {
    width: 100%;
    height: 41.6em;

}
.main-sizer {
    display: flex;
    width: 100%;
    height: inherit;

}
.main-left-flex, .main-right-flex {
    display: flex;
    flex-flow: column;
    gap: 20px;
    background-color:rgb(27, 25, 25);
    color: white !important;
    padding: 50px 30px;
    line-height: 1.3;
    letter-spacing: 4px;
}
.main-left-flex {
    width: 40%;
}
.main-right-flex {
    width: 60%;
}
.main-left-flex h1 {
    text-shadow: 0 0 5px #50c3c4, 0 0 10px rgb(18 122 161), 0 0 12px rgb(100 89 89);

}

/**/
.division-advices {
    width: 100%;
    height: auto;
    background-color: rgb(239, 239, 239);
    display: flex;
    color: black;
}
.division-advices-pad {
    width: 100%;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}
.division-advices-column {
    width: 33%;
    min-height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.division-advices-column h3 {
    padding-top: 15px;
}
.division-advices-column .icn {
    border-radius: 20px;
    color: #47f4f9;
    text-shadow: 0px 0px 20px #47f4f9, 
                0px 0px 40px #47f4f9;
    animation: animate 3s linear infinite;
}

@keyframes animate {
    from {
        filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
    }
}
#animation-1 {
    animation-delay: 0.3s;
}
#animation-2{
    animation-delay: 0.6s;
}
#animation-3 {
    animation-delay: 0.9s;
}
/**/


/*butões*/

.neon-btn {
    position: relative;
    background: rgb(33, 33, 33);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 3px;
    font-weight: 400;
    display: flex;
    width: 195px;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    transition: 0.8s;
}

.neon-btn:hover {
    
    box-shadow: 0 0 20px var(--clr);
}
/**/

/*Footer*/
footer {
    display: flex;
    width: 100%;
    padding: 6% 3%;
    justify-content: space-evenly;
    background-color: rgb(27, 25, 25);
    color: white;
}
.footer-main-div {
    display: flex;
    gap: 35px;
}
footer .social {
    display: flex;
    color: white;
    flex-flow: row;
    border-radius: 20px;
    text-shadow: 0px 0px 20px #47f4f9, 
                0px 0px 40px #47f4f9;
}
footer ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

/*Footer colunas*/
.footer-column {
    width: 250px;
    min-width: 180px;
}
.footer-column a {
    color: white;
}
.footer-column ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

/*Footer coluna redes sociais*/
.footer-socials {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

/**/

/*Font awesome*/
.fas, .fab {
    font-size: 2em;
}
/**/


/*Media queries*/ 

/*Laptop pequeno*/
@media screen and (max-width: 1024px) {

    /*Footer*/
    footer {
        text-align: center;
        justify-content: center;
    }
    footer ul {
        justify-content: center;
    }
    .footer-main-div {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .footer-column {
        width: 100%;
    }
}

/*Tablet*/
@media screen and (max-width: 768px) {
    
    .main-sizer {
        flex-direction: column;
    
    }
    .website-main-content {
        height: auto;
    }
    .main-left-flex{
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px 20px 50px 20px;
        width: 100%;
    }
    .main-right-flex {
        display: none;
        
    }
    
    .division-advices-pad {
        flex-direction: column;
    }
    .division-advices-column {
        width: 60%;
    }
}

/*Mobile L*/
@media screen and (max-width: 425px) {
    
    /*Navbar*/
    .neon-navbar ul {
        gap: 15px;
    }

    /*Main*/
    .main-left-flex h1 {
        font-size: 28px;
    }
}
/**/  